model/
target/
testsource/
testvecs/
testwords/
tmptest/
tmptestvec/
tmptrain/
tmptrainvec/
trainsource/
trainvecs/
trainwords/
corpus/
ldamodel/
mrtrain/
mrtest/
plsamodel/
rt-polaritydata/
testfeatures/
trainfeatures/
.settings/

